
@{
    ViewBag.Title = "AccountDetails";
}

@section styles{

}

<section id="hero" class="login">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div id="login" class="login-min-height">
                    <div class="text-center">
                        <h3 class="text-left"><i class="icon-user-1"></i> Complete your account</h3>
                        <p class="text-left pl-3">*Please Complete the missing details to get better services.</p>
                    </div>
                    <hr />
                    <form enctype="multipart/form-data">
                        @* Left column *@
                        <div class="col-xs-12 col-sm-6 col-md-push-1 float-right-left">
                            <div class="form-group">
                                <label class="col-xs-12 px-0">Name</label>
                                <div class="col-xs-12 col-sm-10 px-0">
                                    <input type="text" class="form-control" placeholder="Your fullname">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12 px-0">Email</label>
                                <div class="col-xs-12 col-sm-10 px-0">
                                    <input type="email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12 px-0">Phone</label>
                                <div class="col-xs-12 col-sm-10 px-0">
                                    <input type="number" class=" form-control" placeholder="0559684457">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12 px-0">Profile Picture</label>
                                <div class="col-xs-12 col-sm-10 px-0">
                                    <input type="file" class="form-control">
                                </div>
                            </div>
                        </div>

                        @* Right column *@
                        <div class="col-xs-12 col-sm-6 float-right-left">
                            <div class="form-group">
                                <label class="col-xs-12 px-0"><i class="icon-calendar-7"></i> Date of Birth</label>
                                <div class="col-xs-12 col-sm-10 px-0">
                                    <input type="text" class="form-control date-pick" value="" placeholder="05/01/2017">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12 px-0">Gender</label>
                                <div class="col-xs-12 col-sm-10 px-0">
                                    <select class="form-control" name="gender">
                                        <option value="-1">-- Select --</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-12 px-0">Address</label>
                                <div class="col-xs-12 col-sm-10 px-0">
                                    <input type="text" class=" form-control" placeholder="Address">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-12 px-0">Part of a company?</label>
                                <div class="col-xs-12 col-sm-10 px-0">
                                    <select class="form-control" name="gender">
                                        <option value="-1">-- Select --</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-12 px-0">Select your company!</label>
                                <div class="col-xs-12 col-sm-10 px-0">
                                    <select class="form-control" name="company">
                                        <option value="-1">-- Select --</option>
                                        <option value="1">Company 1</option>
                                        <option value="0">Company 2</option>
                                        <option value="0">Company 3</option>
                                        <option value="0">Company 4</option>
                                    </select>
                                    <p style="padding-top: 5px">
                                            Company not exists! <a href="#" class="action">Click here to add</a>
                                    </p>
                                </div>
                            </div>

                        </div>

                        <div id="pass-info" class="clearfix"></div>
                        <div class="col-xs-12 col-sm-11 text-right px-10">
                            <button class="btn_1 d-inline-block">Update Account Info</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

