@{
    ViewBag.Title = "Home Page";
}

<!--banner Section start-->
<section id="search_container">
    <div id="search">
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <h3>Search Vehicles</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>PickUp Address</label>
                            <input type="text" class="form-control" id="" name="firstname_booking" placeholder="Type your search terms">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>DropUp Address</label>
                            <input type="text" class="form-control" id="" name="firstname_booking" placeholder="Type your search terms">
                        </div>
                    </div>
                </div><!-- End row -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><i class="icon-calendar-7"></i> Date</label>
                            <input class="date-pick form-control" data-date-format="M d, D" type="text">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label><i class="icon-calendar-7"></i> Pay Load Type</label>
                            <select class="ddslick" name="PayLoadType">
                                <option value="0" data-imagesrc="../../images/icons_search/all_tours.png" selected>All</option>
                                <option value="1" data-imagesrc="../../images/icons_search/sightseeing.png">City sightseeing</option>
                                <option value="2" data-imagesrc="../../images/icons_search/museums.png">Museum tours</option>
                                <option value="3" data-imagesrc="../../images/icons_search/historic.png">Historic Buildings</option>
                                <option value="4" data-imagesrc="../../images/icons_search/walking.png">Walking tours</option>
                                <option value="5" data-imagesrc="../../images/icons_search/eat.png">Eat & Drink</option>
                                <option value="6" data-imagesrc="../../images/icons_search/churches.png">Churces</option>
                                <option value="7" data-imagesrc="../../images/icons_search/skyline.png">Skyline tours</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Vehicle Type</label>
                            <select class="ddslick" name="category">
                                <option value="0" data-imagesrc="../../images/icons_search/all_tours.png" selected>All</option>
                                <option value="1" data-imagesrc="../../images/icons_search/sightseeing.png">City sightseeing</option>
                                <option value="2" data-imagesrc="../../images/icons_search/museums.png">Museum tours</option>
                                <option value="3" data-imagesrc="../../images/icons_search/historic.png">Historic Buildings</option>
                                <option value="4" data-imagesrc="../../images/icons_search/walking.png">Walking tours</option>
                                <option value="5" data-imagesrc="../../images/icons_search/eat.png">Eat & Drink</option>
                                <option value="6" data-imagesrc="../../images/icons_search/churches.png">Churces</option>
                                <option value="7" data-imagesrc="../../images/icons_search/skyline.png">Skyline tours</option>
                            </select>
                        </div>
                    </div>                  
                </div><!-- End row -->
                <hr>
                <button class="btn_1 green"><i class="icon-search"></i>Search now</button>
            </div><!-- End rab -->
            
        </div>
    </div>
</section><!-- End hero -->
@*@Html.Partial("Partials/_Search")*@


