
@{
    ViewBag.Title = "Register Page";
}

<section id="hero" class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <div id="login">
                    <div class="text-center">
                        <h3>Create your account</h3>
                    </div>
                    <hr />
                    <form>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class=" form-control" id="password1" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label>Confirm password</label>
                            <input type="password" class=" form-control" id="password2" placeholder="Confirm password">
                        </div>
                        <div id="pass-info" class="clearfix"></div>
                        <div class="col-xs-12 text-center">
                            <button class="btn_1">Create an account</button>
                        </div>
                    </form>

                    <div class="col-xs-12 seperator-lines">
                        <h5 class="text-center">OR</h5>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <a href="#" class="bt_facebook">
                                <i class="icon-facebook"></i>Facebook
                            </a>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <a href="#" class="bt_google">
                                <i class="icon-google"></i>Google+
                            </a>
                        </div>
                        <div class="col-xs-12">
                            <hr />
                        </div>
                        <div class="col-xs-12">
                            <p>Cargomate.com never shares any of your activities through Facebook or Google without your explicit permission.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


