@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "DriversList";
}
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet light">
                        <div class="portlet-body">
                            <div class="table-toolbar">
                                <div class="row">
                                    <div class="portlet-body">
                                        <div class="table-toolbar">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="btn-group">
                                                        <a id="btnAddNewVehicleModel" data-toggle="modal" data-target="#modalAddNewVehicleModel" class="btn sbold green">
                                                            Add New
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dataTables_wrapper no-footer">
                                <div class="row" id="tblVehicleModelssList">
                                    <table class="table" id="tblDriversList">
                                        <thead>
                                            <tr>
                                                <th>Image</th>
                                                <th>Name</th>
                                                <th>Legal Name</th>
                                                <th>Email Address</th>
                                                <th>Phone</th>
                                                <th>Status</th>
                                                <th style="width: 200px">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Areas/Transporters/Scripts/PageScripts/Driver.js"></script>    
}