@model CargoMate.Web.FrontEnd.Models.VehicleRegistrationModels.BasicInformation

<div id="login" class="login-min-height my-0 py-0">
    <div class="text-center">
        <h3 class="text-left"><i class="icon-truck-1"></i>Vehicle Information</h3>
        <p class="text-left pl-3">*Please provide valid information to get better services.</p>
    </div>
    <hr />
    <form enctype="multipart/form-data">
        <!-- Left column -->
        <div class="col-xs-12 col-sm-6 col-md-push-1 float-right-left">
            <div class="form-group">
                <label class="col-xs-12 px-0">Vehicle Type</label>
                <div class="col-xs-12 col-sm-10 px-0">
                    <select class="form-control select2">
                        <option value="-1">-- Select --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 px-0">Vehicle Configuration</label>
                <div class="col-xs-12 col-sm-10 px-0">
                    <select class="form-control select2">
                        <option value="-1">-- Select --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 px-0">Vehicle Capacity</label>
                <div class="col-xs-12 col-sm-10 px-0">
                    <select class="form-control select2">
                        <option value="-1">-- Select --</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- Right column -->
        <div class="col-xs-12 col-sm-6 float-right-left">

            <div class="form-group">
                <label class="col-xs-12 px-0">Vehicle Make</label>
                <div class="col-xs-12 col-sm-10 px-0">
                    <select class="form-control select2">
                        <option value="-1">-- Select --</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-12 px-0">Vehicle Model</label>
                <div class="col-xs-12 col-sm-10 px-0">
                    <select class="form-control select2">
                        <option value="-1">-- Select --</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-12 px-0">Vehicle Year</label>
                <div class="col-xs-12 col-sm-10 px-0">
                    <select class="form-control select2">
                        <option value="-1">-- Select --</option>
                    </select>
                </div>
            </div>

        </div>

        <div id="pass-info" class="clearfix"></div>
        <div class="col-xs-12 col-sm-11 text-right px-10">
            <button class="btn btn-default d-inline-block">Skip </button>
            <button class="btn_1 d-inline-block">Continue <i class="icon-angle-double-right rotate-180"></i></button>
        </div>
    </form>

</div>