<div id="login" class="login-min-height my-0 py-0">
    <div class="text-center">
        <h3 class="text-left"><i class="icon-list-1"></i> Vehicle Images</h3>
        <p class="text-left pl-3">*Please provide valid information to get better services.</p>
    </div>
    <hr />
    <form action="@Url.Action("VehicleImagesAdd","Vehicle")" class="dropzone dropzone-file-area" id="VehicleImagesDropZone" style="margin-top: 25px;">
        <h3 class="sbold">Drop files here or click to upload</h3>
        <p> Once You Drop files here it will be uploaded to server. </p>
    </form>

</div>
